<div class="container">
  <h2>Cálculo de dosis</h2>
  <form [formGroup]="dosageForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="age">Edad:</label>
      <input id="age" formControlName="age" type="number" min="1" max="125">
      <div *ngIf="dosageForm.controls['age'].touched && hasError('age', 'required')">
        <small>La edad es obligatoria.</small>
      </div>
      <div *ngIf="dosageForm.controls['age'].touched && hasError('age', 'min')">
        <small>La edad debe ser al menos 1.</small>
      </div>
      <div *ngIf="dosageForm.controls['age'].touched && hasError('age', 'max')">
        <small>La edad no puede ser mayor que 125.</small>
      </div>
    </div>
  
    <div>
      <label for="dose">Dosis:</label>
      <input id="dose" formControlName="dose" type="number" min="0">
      <select formControlName="doseUnit">
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
      <div *ngIf="dosageForm.controls['dose'].touched && hasError('dose', 'required')">
        <small>La dosis es obligatoria.</small>
      </div>
      <div *ngIf="dosageForm.controls['dose'].touched && hasError('dose', 'min')">
        <small>La dosis debe ser al menos 0.</small>
      </div>
    </div>
  
    <div>
      <label for="weight">Peso (kg):</label>
      <input id="weight" formControlName="weight" type="number" min="0">
      <div *ngIf="dosageForm.controls['weight'].touched && hasError('weight', 'required')">
        <small>El peso es obligatorio.</small>
      </div>
      <div *ngIf="dosageForm.controls['weight'].touched && hasError('weight', 'min')">
        <small>El peso debe ser al menos 0.</small>
      </div>
    </div>
  
    <div>
      <label for="quantity">Volumen de administración:</label>
      <input id="quantity" formControlName="quantity" type="number">
      <select formControlName="quantityUnit">
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
      <div *ngIf="dosageForm.controls['quantity'].touched && hasError('quantity', 'required')">
        <small>El volumen de administración es obligatorio.</small>
      </div>
    </div>
  
    <div>
      <label for="doseMed">Dosis medicamento:</label>
      <input id="doseMed" formControlName="doseMed" type="number">
      <div *ngIf="dosageForm.controls['doseMed'].touched && hasError('doseMed', 'required')">
        <small>La dosis del medicamento es obligatoria.</small>
      </div>
    </div>
  
    <button type="submit">Calcular</button>
  
    <p class="result" *ngIf="finalResult !== null">El resultado es: {{ finalResult }} (mg) por día</p>
  </form>
</div>
