<header>
  <h1>Consultorio Dental Espinosa</h1>
</header>
<main>
  <section class="intro">
      <div class="cont-img">
        <img src="assets/dental.jpg" alt="Consultorio Dental Espinosa"  width="600">
      </div>
      <p>Consultorio Dental Espinosa es su destino de confianza para el cuidado dental de calidad. Con un equipo de profesionales experimentados y un compromiso inquebrantable con la excelencia, ofrecemos una amplia gama de servicios dentales diseñados para mantener su sonrisa saludable y radiante.</p>
  </section>
  <section class="services">
      <h2>Nuestros Servicios</h2>
      <ul>
          <li>Limpiezas de rutina</li>
          <li>Procedimientos avanzados</li>
          <li>Atención personalizada y compasiva</li>
      </ul>
  </section>
  <section class="priority">
      <p>En el Consultorio Dental Espinosa, su salud bucal es nuestra máxima prioridad. ¡Visítenos y descubra la diferencia de un cuidado dental excepcional!</p>
  </section>
</main>
<footer>
  <p>&copy; 2024 Consultorio Dental Espinosa. Todos los derechos reservados.</p>
</footer>