<table class="tabla">
  <thead class="head">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Indicaciones</th>
      <th>Contradicciones</th>
      <th>Dosis</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="body">
    <tr *ngFor="let medicamento of medicamentos">
      <td>{{ medicamento.id }}</td>
      <td>{{ medicamento.nombre }}</td>
      <td>{{ medicamento.descripcion }}</td>
      <td>{{ medicamento.indicaciones }}</td>
      <td>{{ medicamento.contradicciones }}</td>
      <td>{{ medicamento.dosis }}</td>
      <td class="action-buttons">
        <button class="btn-editar" (click)="actualizarMedicamento(medicamento)">Editar</button>
        <button class="btn-eliminar" (click)="eliminarMedicamento(medicamento.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
